/* Contacts footer */
.footer-section {
  background-color: #200e02;
}

.logo-container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 80px;
}

.contact-footer {
  background-color: #0e0600;
  color: white;
}

.contact-footer a,
.contact-footer h4 {
  display: block;
}

.contact-footer h4 {
  padding-top: 20px;
}

.contact-footer a {
  color: white;
  padding: 5px 0px 5px 0px;
  text-decoration: none;
}
