/* Showcase */
.showcase-img {
  background-image: url(../images/coffee_images/coffee_background_1.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  color: white;
}

.showcase-img .colona {
  display: flex;
  align-items: center;
  height: 95%;
  padding: 0px 10px;
}

.text_container {
  justify-content: center;
}

@media (min-width: 768px) {
  .showcase-img .colona {
    width: 50%;
    margin-left: auto;
    margin-top: 5%;
  }
}

/* Menu cards */
.menu-cards {
  background-color: #200e02;
}

.menu-cards .card-bg-img {
  background-position: center;
  background-size: cover;
  display: flex;
  height: 350px;
  flex-direction: column;
  color: white;
  align-items: center;
  opacity: 0.7;
  justify-content: end;
}

.menu-cards p {
  margin-top: auto;
  margin-bottom: 0;
}

.menu-cards .first {
  background-image: url(../images/coffee_images/coffee_cup_1.jpg);
}

.menu-cards .second {
  background-image: url(../images/coffee_images/coffee_cup_2.jpg);
}

.menu-cards .third {
  background-image: url(../images/coffee_images/coffee_cup_3.jpg);
}

/* Text with Photo's */
.text-and-img .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.text-and-img .col,
.text-and-img .img-container {
  height: 300px;
}

.text-and-img .img-container {
  background-position: center;
  background-size: center;
}

.text-and-img .img1 {
  background-image: url(../images/lounge_2.jpg);
}

.text-and-img .img2 {
  background-image: url(../images/lounge_2.jpg);
}

/* Discound card section */
.discount-card .img {
  background-image: url(../images/coffee_images/coffee_cup_3.jpg);
  background-position: center;
  background-size: cover;
  height: 400px;
}

.discount-card .text {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.discount-card p {
  width: 40ch;
}

.discount-card .card-img {
  background-image: url(../images/discount\ card.png);
  background-position: center;
  background-size: cover;
  height: 80px;
  width: 122px;
}

/* Coffee shop good properties cards */
.cards-section .icon {
  font-size: 50px;
  margin: 0;
}

/* Booking form */
/* Sutvarkyti fiksuota dydi ir su media padaryti responsive */
.booking-form .form-container {
  display: flex;
  flex-direction: column;
  background-color: #105424;
  padding: 60px 15px;
}

.booking-section .form-box {
  padding: 10px;
  background-color: #105424;
}

.booking-form .input,
.booking-form .btn {
  padding: 20px 50px;
  border-radius: 35px;
}

.booking-section {
  background-image: url(../images/coffee_images/coffe_black_background.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  color: white;
}

.booking-section .container {
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
}

.booking-form .btn {
  align-items: center;
}

@media (min-width: 768px) {
  .booking-section .container {
    justify-content: right;
    margin-right: 15%;
  }
  .booking-section .form-box {
    padding: 20px;
  }
  .booking-form .form-container {
    padding: 65px 50px;
    border-radius: 20px;
  }
}

/* Photo galery */
.about-section .photo {
  background-image: url(../images/cake/cake_11.jpg);
  background-position: center;
  background-size: cover;
  height: 370px;
}

.about-section span {
  color: #af751e;
}

.about-section p {
  font-size: 1.3rem;
}

.about-section h4 {
  font-size: 1.8rem;
}

@media (min-width: 992px) {
  .about-section .opening-hours {
    width: 28%;
  }
}

.about-section .row {
  justify-content: center;
}

.about-section .about-col {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.about-section h2 {
  font-size: 3rem;
}

/* Feedback */
.feedback-section {
  background-image: url(../images/felipe-santana-xJkTCbtuqAY-unsplash.jpg);
  background-position: center;
  background-size: cover;
  height: 800px;
  color: white;
}

.feedback-section .underline {
  height: 2px;
  width: 100px;
  background-color: #af751e;
  margin-bottom: 5%;
}

.feedback-section .slides {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: auto;
  height: 800px;
  align-items: center;
}

.feedback-section .person-name {
  margin: 0;
  font-size: 1.4rem;
}

.feedback-section h2 {
  font-size: 3rem;
}

.feedback-section .carousel-control-next-icon,
.feedback-section .carousel-control-prev-icon {
  background-color: #0f0f0fc9;
}

.feedback-section .person-img {
  /* prideti random zmoniu generatoriu ir isimt photo ir vardus*/
  background-image: url(../images/avatar.png);
  background-position: center;
  background-size: cover;
  width: 100px;
  height: 100px;
  margin: 15px 0 50px 0;
}

@media (min-width: 768px) {
  .feedback-section,
  .feedback-section .slides {
    height: 600px;
  }
}
