/* Showcase Carousel */
.showcase-img {
  background-image: url(../images/coffee_images/coffee_background_1.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  color: white;
}

.showcase-img .colona {
  display: flex;
  align-items: center;
  height: 95%;
  padding: 0px 10px;
}

.text_container {
  justify-content: center;
}

@media (min-width: 768px) {
  .showcase-img .colona {
    width: 50%;
    margin-left: auto;
    margin-top: 5%;
  }
}

/* Drinks section with cards */
.test-drinks-section .card-img {
  background-position: center;
  background-size: cover;
  height: 280px;
}

.test-drinks-section .img-1 {
  background-image: url(../images/coffee_images/coffee_cup_5.jpg);
}

.test-drinks-section .img-2 {
  background-image: url(../images/coffee_images/coffee_cup_9.jpg);
}

.test-drinks-section .img-3 {
  background-image: url(../images/coffee_images/coffee_cup_12.jpg);
}

/* Food section with cards */
.test-food-section .card-img {
  background-position: center;
  background-size: cover;
  height: 280px;
}

.test-food-section .img-1 {
  background-image: url(../images/cake/cake_2.jpg);
}

.test-food-section .img-2 {
  background-image: url(../images/cake/cake_3.jpg);
}

.test-food-section .img-3 {
  background-image: url(../images/cake/cake_4.jpg);
}

/* Owl footer */
.owl-carousel {
  background-image: url(../images/3D_owl_carousel.jpg);
  height: 513px;
  background-position: center;
  background-size: cover;
}
