/* Showcase Carousel */
.showcase-img {
  background-image: url(../images/coffee_images/coffee_background_1.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  color: white;
}

.showcase-img .colona {
  display: flex;
  align-items: center;
  height: 95%;
  padding: 0px 10px;
}

.text_container {
  justify-content: center;
}

@media (min-width: 768px) {
  .showcase-img .colona {
    width: 50%;
    margin-left: auto;
    margin-top: 5%;
  }
}

/* Menu cards */
.menu-cards .card-bg-img {
  background-position: center;
  background-size: cover;
  display: flex;
  height: 260px;
  flex-direction: column;
  color: white;
  align-items: center;
}

.menu-cards p {
  margin-top: auto;
  margin-bottom: 0;
}

.menu-cards .first {
  background-image: url(../images/coffee_images/coffee_cup_1.jpg);
}

.menu-cards .second {
  background-image: url(../images/coffee_images/coffee_cup_2.jpg);
}

.menu-cards .third {
  background-image: url(../images/coffee_images/coffee_cup_3.jpg);
}

/* Text with Photo's */
.text-and-img {
}

.text-and-img .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.text-and-img .col,
.text-and-img .img-container {
  height: 300px;
}

.text-and-img .img-container {
  background-position: center;
  background-size: center;
}

.text-and-img .img1 {
  background-image: url(../images/lounge_2.jpg);
}

.text-and-img .img2 {
  background-image: url(../images/lounge_2.jpg);
}

/* Owl footer */
.owl-carousel {
  background-image: url(../images/3D_owl_carousel.jpg);
  height: 513px;
  background-position: center;
  background-size: cover;
}
